@import "tailwindcss";

/* For Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
}

:root {
  --color-dark-background: red;
}

.dark {
  --color-dark-background: green;
}
